---
import { SITE } from '../config';
import Logo from '../components/Logo.astro'
---
<header class="wrapper">
	<article class="flex items-center justify-center">
			<a href="/" >
				<Logo />
			</a>
	</article>
</header>

<style>

</style>
