<div id="fb-root"></div>
<script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0"
    nonce="hjAade6d"
></script>

<div
    class="fb-page"
    data-href="https://www.facebook.com/sedgefieldcotn/"
    data-tabs="Posts"
    data-width=""
    data-height=""
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="false"
>
    <blockquote
        cite="https://www.facebook.com/sedgefieldcotn/"
        class="fb-xfbml-parse-ignore"
    >
        <a href="https://www.facebook.com/sedgefieldcotn/"
            >Sedgefield Christian Church</a>
    </blockquote>
</div>

