<article id="giving">
    <h2>Giving</h2>
    <div>
        For Tithing, you may use the bank details below: <br>
        FNB – Knysna code 210214 Account No.527 010 48764 <br>
        ABSA – Knysna code 549314 Account No.409 335 6169 <br>
        <br>
        Tithing envelopes available at Deo Gratia Coffee Shop for
        alternative giving.
    </div>
</article>
