<div class="flex flex-col justify-center items-center lg:justify-start mt-10">
    <img class="w-full md:w-3/4 lg:w-1/2 md:object-fill pt-6 dark:hidden" src="/assets/SCC Logo (dark).png" alt="SCC Heart" />
    <img class="w-full md:w-3/4 lg:w-1/2 md:object-fill pt-6 dark:block hidden" src="/assets/SCC Logo (light).png" alt="SCC Heart" />
<p class="font-bold text-xl">Love God. Love People. Do stuff.</p>
</div>

<style>

</style>