<!-- Want to have a navigate to us, contact us and announcements -->
<nav class="fixed bottom-10 right-4" id="small-menu">
    <ul>
        <li><a href="#contact-form" class="font-bold">Contact us</a></li>
        <li><a href="#find-us" class="font-bold">Find us</a></li>
    </ul>
</nav>

<style>
    #small-menu li {
        @apply bg-gray-200 font-bold text-base my-2 p-2 border-2 border-gray-600;
    }
</style>