<input type="checkbox" id="menu-toggle" hidden />
<label
  for="menu-toggle"
  class="text-3xl cursor-pointer fixed top-4 right-4 z-10 md:hidden"
>
  <svg width="40" height="35" class="bg-red-700">
    <rect x="5" y="5" width="30" height="5"></rect>
    <rect x="5" y="15" width="30" height="5"></rect>
    <rect x="5" y="25" width="30" height="5"></rect>
  </svg>
</label>
<nav
  id="menu"
  class="w-full flex flex-col md:flex-row justify-start flex-wrap gap-1 md:gap-5 top-20 md:top-2 fixed md:left-[50%]"
>
  <a href="#contact-form">Contact us</a>
  <a href="#find-us">Find us</a>
  <a href="#giving">Giving</a>
  <!-- <a href="#announcements">Announcements</a> -->
  <a href="#" class="text-sm">🔼</a>
</nav>

<script>
  // Hide the navbar when user clicks a link. Done by making checkbox checked whenever an a tag is clicked.
  const links = document.querySelectorAll("a");
  const menu = document.querySelector("#menu-toggle");

  links.forEach((link) => {
    link.addEventListener("click", async () => {
      if (window.innerWidth > 500) return;
      menu.checked = await false;
    });
  });

  if (window.innerWidth > 500) {
    menu.checked = true;
  }

</script>

<style>
  #menu {
    @apply hidden;
    transition: all 1s;
    animation: fade-out 0.4s forwards;
  }

  #menu-toggle:checked ~ #menu {
    @apply flex visible;
    animation: fade-in 0.4s forwards;
  }

  #menu:focus ~ #menu-toggle:checked {
    @apply hidden;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes fade-out {
    100% {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  #menu a {
    @apply p-2 bg-gray-200 font-bold text-lg hover:bg-white transition border border-black;
  }
</style>
