<!-- Want to have a navigate to us, contact us and announcements -->
<input type="checkbox" id="menu-toggle" hidden/>
<label for="menu-toggle" class="text-3xl cursor-pointer fixed top-4 left-4 z-10">
  <svg width="60" height="60">
    <rect x="25" y="5" width="30" height="5" rx="5" />
    <rect x="25" y="15" width="30" height="5" rx="5" />
    <rect x="25" y="25" width="30" height="5" rx="5" />
  </svg>
</label>
<nav id="menu" class="w-full flex flex-col md:flex-row justify-start flex-wrap gap-4 md:gap-10 top-5 fixed left-36">
    <a href="#contact-form">Contact us</a>
    <a href="#find-us">Find us</a>
    <a href="#giving">Giving</a>
    <a href="#announcements">Announcements</a>
    <a href="#">🔼 Top</a>
</nav>

<script>
  // Hide the navbar when user clicks a link. Done by making checkbox checked whenever an a tag is clicked.
  const links = document.querySelectorAll('a')

  links.forEach(link => {
    link.addEventListener('click', () => {
      // document.querySelector("#menu").style.display='none'
      document.querySelector("#menu-toggle").checked = false
    })
  })
</script>

<style>
#menu {
  @apply hidden md:flex md:visible;
  transition: all 1s;
  animation: fade-out 0.4s forwards;
}

#menu-toggle:checked ~ #menu {
    @apply flex visible;
    animation: fade-in 0.4s forwards
}


#menu:focus ~ #menu-toggle:checked {
  @apply hidden md:flex md:visible;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-200px)
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    transform: translateX(200px)
  }
}

#menu a {
  @apply p-2 bg-gray-200 font-bold text-lg hover:bg-white transition;
}

</style>
